@import url("https://fonts.googleapis.com/css?family=Almendra");
.hidden {
  display: none; }

canvas {
  width: 100%;
  height: auto; }

.visible {
  display: block; }

.carousel-caption {
  color: #3c404a; }

.carousel-item {
  max-width: 680px;
  float: none !important; }

.hidePostsButton {
  font-size: 14px;
  background-color: transparent;
  border: none; }

.icon-select-image {
  max-width: 80px;
  max-height: 80px; }
  .icon-select-image:hover {
    cursor: pointer;
    background-color: #3c404a; }

#myNav {
  background-image: linear-gradient(#3c404a, #474747); }

#journalEditorPageMain {
  background-color: #cdc4b1;
  color: #3c404a; }
  #journalEditorPageMain .ql-toolbar .ql-snow .ql-container {
    border: 1px solid #3c404a;
    color: #3c404a; }

#frontPage .hidePostsButton {
  color: #cdc4b1; }

body {
  font-family: Almendra, cursive;
  background-color: #cdc4b1; }
  body #sign-in-modal, body #icon-modal {
    color: #3c404a; }
  body .main-content {
    color: #cdc4b1;
    background-color: #3c404a; }

.comment-vote-buttons {
  margin-left: 20px; }

.avatar {
  height: 48px;
  width: 48px; }

.carousel-card {
  max-width: 38rem; }

.comment-box:nth-of-type(n+2) {
  position: relative;
  left: -1rem; }

#addCharacter {
  display: none; }

#allCharactersPage {
  color: #3c404a; }

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black; }

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border: 0px solid black; }

.owl-prev i, .owl-next i {
  transform: scale(1, 6);
  color: #3c404a; }

.character-image {
  max-height: 200px;
  max-width: 200px;
  z-index: 2; }

.char-card {
  height: fit-content;
  z-index: 2;
  background-color: #cdc4b1 !important; }

.characterSelectButton :hover {
  cursor: pointer;
  background-color: #3c404a;
  color: #cdc4b1; }

#user-icon {
  width: 100%;
  height: auto; }

.comment-content {
  display: inline-block; }

.avatar-char-name {
  width: 100%; }

.comment-button, .aye-button, .nay-button {
  padding: 0 2px;
  font-size: 12px; }

#characterManagementPageJumbo, #characterPageJumbo {
  background-color: #cdc4b1;
  color: #3c404a; }

@media (max-width: 576px) {
  body {
    background-color: #3c404a; } }
