@import url('https://fonts.googleapis.com/css?family=Almendra');

$myGrey: #3c404a;
$myGreydient: linear-gradient($myGrey, #474747);
$primary: #cdc4b1;

.hidden{
  display: none;
}

.visible{
  display: block;
}

.hidePostsButton {
  background-color: transparent;
  border: none;
}

#myNav{
  background-image: $myGreydient;
}

body {
  font-family: Almendra, cursive;
  color: $primary;
  background-color: $primary;
  #sign-in-modal {
    color:$myGrey;
  }
  .main-content {
    background-color: $myGrey;
  }
}

.mr-3 {
  height: 32px;
  width: 32px;
}

.personal-post {
  padding-bottom: 1%;
}

#addCharacter {
  display: none;
}

  .comment-button{
    font-size: 12px;
    
  }
