@import url('https://fonts.googleapis.com/css?family=Almendra');

$myGrey: #3c404a;
$myGreydient: linear-gradient($myGrey, #474747);
$primary: #cdc4b1;

.hidden{
  display: none;
}

canvas {
  width: 100%;
  height: auto;
}

.visible{
  display: block;
}

.hidePostsButton {
  font-size: 14px;
  background-color: transparent;
  border: none;
}

.icon-select-image {
  max-width: 90px;
  max-height: 90px;
  &:hover {
    cursor: pointer;
    background-color: $myGrey;
  }

}

#myNav{
  background-image: $myGreydient;
}

#journalEditorPageMain{
    background-color: $primary;
    color: $myGrey;
    .ql-toolbar .ql-snow .ql-container{
      border: 1px solid $myGrey;
      color: $myGrey;
    }
}

#frontPage{
  .hidePostsButton{
    color: $primary;
  }
}

body {
  font-family: Almendra, cursive;
  background-color: $primary;
  #sign-in-modal, #icon-modal{
    color:$myGrey;
  }
  .main-content {
    color: $primary;
    background-color: $myGrey;
  }
}

.comment-vote-buttons{
  margin-left: 20px;
}

.avatar {
  height: 48px;
  width: 48px;
}


.comment-box {
  &:nth-of-type(n+2) {
    position: relative;
    left: -1rem;
  }
}



#addCharacter {
  display: none;
}

#allCharactersPage{
  color: $myGrey;
}

.character-image{
  max-height: 200px;
  max-width: 200px;
}

.characterSelectButton :hover{
  cursor: pointer;
  background-color: $myGrey;
  color: $primary;
}

#user-icon{
  width: 100%;
  height: auto;
}

.comment-content{
  display: inline-block;
}

.avatar-char-name{
  width: 100%;
}

.comment-button, .aye-button, .nay-button {
  padding: 0 2px;
  font-size: 12px;
}

#characterManagementPageJumbo, #characterPageJumbo{
  background-color: $primary;
  color: $myGrey;
}

@media (max-width: 576px){
  body{
    background-color: $myGrey;
  }
}
